.FormWrapper {
    position: relative;
    height: 33rem;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2.2fr 1fr;
    gap: 3rem;

}

.Form {
    grid-column: 1;
    grid-row: 2;
}

.TitleWrapper{
    margin-top: 3rem;
}

.Background {
    position: absolute;
    background: var(--main-color-blue);
    height: 100%;
    width: 130%;
    top: 0;
    right: 0;
    margin-right: -9%;
    z-index: -100;
    border-radius: 0 0 13rem 0;
}

.TextArea {

}

.PhoneWrapper {
    grid-column: 2;
    grid-row: 1 /span 2;
    position: relative;
}