.Button {
    padding: 0;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    background: none;
    height: auto;
    width: auto;
}

.Button:hover {
    cursor: pointer;
}


.NavButton:hover {
    transition: border 1s ease-in-out;
    border-bottom: .1rem solid white;
}

.RegisterButton {
    font-size: 1rem;
}

.MainUpButton {
    padding: 0;
    background: var(--main-color-blue);
    height: 100%;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    border: .1rem solid var(--main-color-light);
    border-bottom: 0;
    text-transform: uppercase;
    color: var(--main-color-light);
    font-size: 2rem;
    /*font-weight: 100;*/
}

.MainUpButton:hover {
    background: var(--main-color-light-80);
    color: var(--main-color-blue);
    box-shadow: inset 0 -.5rem 0 #fff;
    border: none;
}


.MainDownButton {
    position: absolute;
    text-transform: uppercase;

    font-size: 2rem;
    font-weight: 400;
    height: 6rem;
    width: 20rem;
    border-radius: 0 0 0 2rem;
    background: var(--main-color-light);
    color: var(--main-color-blue);
}

.positionHeaderButton {
    top: 100%;
    left: 0;
}

.MainDownButton:hover {
    background: var(--main-color-light-80);
    box-shadow: inset 0 .5rem 0 #fff;
    border: none;
}

