.CheckboxWrapper {

}

.Checkbox {

}

.CheckboxLabel {
    color: #fff;
    font-size: 0.9rem;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.CheckboxLabel > a {
    color: #587af1;
    outline: none;
}