.Form {
    margin-top: 2rem;
    width: auto;
    max-width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
    gap: 2rem;
}

.TextArea {
    grid-column: 2;
    grid-row:  1 /span 2;
    height: 100%;
    width: 100%;
}

.Submit {
    /*width: 100%;*/
    margin-right: 20rem;
    grid-column: 2;
    grid-row: 3;
    margin-left: auto;

}