.BlockWrapper {
    margin-top: 1rem;
    padding: 1rem;
    display: grid;
    border: .0625rem solid #000000;
    border-radius: 2rem 2rem 0 2rem;
    grid-template-rows: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.BlockWrapper:hover {
    transition: box-shadow .1s ease-in-out;
    box-shadow: 0 0 .4rem .2rem #FED088;
}

.BlockWrapper:hover > .MoreContent {

}


.BlockParagraf {
    font-weight: 700;
    font-size: 1.5rem;
}

.BlockWrapper > img {
    /*height: 100%;*/
    width: 100%;
    object-fit: cover;
    margin-top: auto;
    margin-bottom: auto;
}

