.Layout{
    position: relative;
    width: 76%;
    display: flex;
    flex-direction: column;
    gap: 12rem;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10rem;
    /*padding: 0 3rem 2rem;*/

}

