:root {

    --main-color-light: #fec581;
    --main-color-light-60: #feefdb;
    --main-color-light-80: #ffd98e;
    --second-color-light: #eef1fe;
    --third-main-color: #eef1fe;
    --main-color-blue:#2e3764 ;
    --second-color-blue: #587af1;
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

