.TextWrapper{
    /*display: inline-block;*/
}

.TextWrapper > h1 {
    /*display: flex;*/
    /*gap: .5rem;*/
    font-size: 2.2rem;
}

.TextWrapper > h1 > span {
    color: var(--second-color-blue);
}

.TextWrapper > p {
    margin-top: 1rem;
    font-size: 1.3rem;
}